<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Team Family">
    <meta name="Description" content="Sharing our family description with you.">

    <title>Rituals</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Rituals</h1>
                        <p class="intro-text">Keeping Your Traditions Alive</p>
                        <a href="#login" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- login Section -->
    <section id="login" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="text-center" style="padding:50px">
                    <div class="logo"><h2>login</h2></div>
                    <!-- Main Form -->
                    <div class="login-form-1">
                        <form id="login-form" class="text-left" action="/sessions" method="post">
                            <div class="login-form-main-message"></div>
                            <div class="main-login-form">
                                <div class="login-group">
                                    <div class="form-group">
                                        <label for="lg_username" class="sr-only">Username</label>
                                        <input type="text" class="form-control" id="lg_username" name="user[email]" placeholder="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="lg_password" class="sr-only">Password</label>
                                        <input type="password" class="form-control" id="lg_password" name="user[password]" placeholder="password">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Login">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Register Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- REGISTRATION FORM -->
                    <div class="text-center" style="padding:50px 0">
                        <div class="logo"><h2>Sign Up</h2></div>
                        <!-- Main Form -->
                        <div class="login-form-1">
                            <form id="register-form" class="text-left" action="/users" method='post'>
                                <div class="login-form-main-message"></div>
                                <div class="main-login-form">
                                    <div class="login-group">
                                        <div class="form-group">
                                            <label for="reg_fullname" class="sr-only">First Name</label>
                                            <input type="text" class="form-control" id="reg_fullname" name="user[first_name]" placeholder="first name">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_fullname" class="sr-only">Last Name</label>
                                            <input type="text" class="form-control" id="reg_fullname" name="user[last_name]" placeholder="last name">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_username" class="sr-only">Email address</label>
                                            <input type="text" class="form-control" id="reg_username" name="user[email]" placeholder="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_password" class="sr-only">Password</label>
                                            <input type="password" class="form-control" id="reg_password" name="user[password]" placeholder="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                                            <input type="password" class="form-control" id="reg_password_confirm" name="user[password_confirmation]" placeholder="confirm password">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Sign Up">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



            <!-- jQuery -->
            <script src="js/jquery.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="js/jquery.easing.min.js"></script>

            <!-- Custom Theme JavaScript -->
            <script src="js/grayscale.js"></script>

        </body>

        </html>
