<div class="container">

<div class="col-xs-12 col-sm-6 col-md-8">

<iframe id="iframe" width="90%" height="400" src="//www.youtube.com/embed/F0naUkyEkmM?autoplay=1&controls=0"
            data-autoplay-src="//www.youtube.com/embed/F0naUkyEkmM?autoplay=1"></iframe>
</div>


<div class="col-xs-6 col-md-4">
  <%= render 'form' %>
  </div>
</div>