<div id="welcome_landing_main">

<div class="col-xs-12 col-sm-6 col-md-8">

<iframe id="iframe_landing" alt="staring video"width="90%" height="400" src="//www.youtube.com/embed/F0naUkyEkmM?autoplay=1&controls=0"
            data-autoplay-src="//www.youtube.com/embed/F0naUkyEkmM?autoplay=1"></iframe>
</div>


<div class="col-xs-6 col-md-4" id='welcome_signin_form'>
  <%= render 'form' %>
  </div>


  <p class="test">test class</p>
  <p id="test">test id</p>
</div>